<div>
	<div>
		User name on github is: {{user.login}}
		{{errorMessage}}
	</div>
	<img ng-src="{{user.avatar_url}}" title="{{user.name}}" width="25%"/>
	<div>
	Order: 
		<select ng-model="sortOrder">
			<option value="+name">Name</option>
			<option value="-stargazers_count">Stars</option>
			<option value="+language">Language</option>
		</select> 
		<table ng-show="user">
			<thead>
				<th>Name</th>
				<th>Stars</th>
				<th>Language</th>
			</thead>
			<tbody>
				<!-- filter orderBy has to be included in ng-repeat clause, 
					minus means descending order sort, 
					'' denotes literal string instead of object property --> 
				<tr ng-repeat="repo in repos | orderBy:sortOrder">
					<td>{{repo.name}}</td>
					<td>{{repo.stargazers_count | number}}</td>
					<td>{{repo.language}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<a href="#/main">Back to search</a>